
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
   
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global */
.wrapper {
    width: 1650px;
    max-width: 100%;
    margin: 0 auto;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: red;
}

:root {
    --primary-color: #0f0f0f;
    --secondary-color: #545454;
    --sub-header-color: #333333;
    --border-color : #d0d0d0;
}


/* header */
header 
    .header_container {}
    .header_container h1 {}

/* content */
.content 
    .content_container {}
    .content_container h1 {
        word-wrap: break-word;
        margin-top: 55px;
        font-size: 2.5em;
        font-weight: 800;
        font-family: inherit;
        color: var(--primary-color);
    }
    .content_container section h2 {
        word-wrap: break-word;
        margin-top: 25px;
        font-size: 1.5rem;
        font-weight: 800;
        font-family: inherit;
        border-bottom: 1px solid var(--border-color);
        padding: 10px 0;
        color: var(--primary-color);
    }
    .content_container section h3 { 
        word-wrap: break-word;
        font-size: 1.1rem;
        font-weight: 600;
        font-family: inherit;
        color: var(--sub-header-color);
        margin-top: 25px;
        margin-bottom: 20px;

    }
    .content_container section h4 { 
        word-wrap: break-word;
        font-size: 0.9rem;
        font-weight: 600;
        font-family: inherit;
        color: var(--sub-header-color);
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .content_container section p {
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        white-space: pre-line;
        border: 1px solid  var(--border-color);
        padding: 15px;
        line-height: 25px;
        color: var(--primary-color);
        border-radius: 4px;
        margin: 15px 0;
        word-wrap: break-word;
    }



