@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* preset */
.clearfix {
    content: "";
    display: table;
    clear: both;
}
:root {

    /* light theme */
    --light-text-black-color : #232E35;
    --light-text-purple-color : #7E74F1;
    --light-text-gray-color : #656D72;

    --light-bg-white-1-color : #FFFFFF;
    --light-bg-white-2-color : #FBFBFB;
    --light-bg-purple-color : #7E74F1;
    --light-bg-gradient-color : linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));;

    --light-border-color : #F1F1F1;
    --light-border-1-color : #F5F5F5;
    
    /* dark theme*/
    --dark-text-black-color : #fff;
    --dark-text-purple-color : #7E74F1;
    --dark-text-gray-color : #fff;

    --dark-bg-white-1-color : #232E35;
    --dark-bg-white-2-color : #232E35;
    --dark-bg-purple-color : #fff;
    --dark-bg-gradient-color : linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));;


    --dark-border-color : #F1F1F1;
    --dark-border-1-color : #F5F5F5;
}
.light {
    --text-black-color : var(--light-text-black-color);
    --text-purple-color : var(--light-text-purple-color);
    --text-gray-color : var(--light-text-gray-color);

    --bg-white-1-color : var(--light-bg-white-1-color);
    --bg-white-2-color : var(--light-bg-white-2-color);
    --bg-purple-color : var(--light-bg-purple-color);
    --bg-gray-color : var(--light-bg-gradient-color);
    
    --border-color : var(--light-border-color);
    --border-1-color : var(--light-border-1-color);
}
.dark {
    --text-black-color : var(--dark-text-black-color);
    --text-purple-color : var(--dark-text-purple-color);
    --text-gray-color : var(--dark-text-gray-color);

    --bg-white-1-color : var(--dark-bg-white-1-color);
    --bg-white-2-color : var(--dark-bg-white-2-color);
    --bg-purple-color : var(--dark-bg-purple-color);
    --bg-gray-color : var(--dark-bg-gradient-color);
    
    --border-color : var(--dark-border-color);
    --border-1-color : var(--dark-border-1-color);
}

body {
    background-color: var(--bg-color);
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* header */
#header {
    background-color: var(--bg-white-1-color);
    }
    .header_container {
        text-align: center;
        height: 130px;
    }
    .header_container .header_logo  {
        margin-top: 40px;
        float: left;
    }
    .header_container .header_logo  a {}
    .header_container .header_logo a figure {}
    .header_container figure img{
        max-width: 100%;
        display: block;
    }
    .header_container .nav_list {
        display: inline-block;
        vertical-align: middle;
    }
    .header_container .nav_list li{
        display: inline-block;
        position: relative;
    }
    .header_container .nav_list li+li:before{
        margin-right: 56px;
        content: "";
    }
    .header_container .nav_list li a{
        text-decoration: none;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: var(--text-black-color);
        line-height: 130px;
    }
    .header_container .header_right {
        float: right;
    }
    .header_container .header_right li {
        display: inline-block; 
        vertical-align: middle;
    }
    .header_container .header_right li+li:before{
        margin-right: 32px;
        content: "";
    }
    .header_container .header_right li a {
        line-height: 130px;
    }
    .header_container .header_right li a span{
        display: block;
        height: 24px;
        width: 24px;
        background: url(../../icons/moon-icon.svg);
        background-repeat: no-repeat;
    }
    .header_container .header_right li:last-child a {
        border: 1px solid var(--border-color);
        border-radius: 8px;
        text-decoration: none;
        font-size: 14px;
        padding: 16px 24px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        color: var(--text-black-color);
    }   
    .header_container button{
        display: none;
        margin-top: 47px;
        float: right;
        border: 0;
        background-color: transparent;
    }   
    .header_container button:active{
        background-color: #7E74F154;
        border-radius: 5px;
    }   
    .header_container .three-bars-icon{
        display: block;
        background: url(../../icons/three-bars-icon.svg);
        content: "";
        height: 24px;
        width: 30px;
    }   
    
/* main */
#main {
    background-color: var(--bg-white-1-color);
    }

    .main_container {
        height: calc(100vh - 130px);
        min-height: 537px;
    }
    .main_container .main_content  {
        width: 540px;
        position: relative;
        top: 50%;
        float: left;
        transform: translateY(-50%);
    }
    .main_container .main_content p:first-child {
        font-size: 12px;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
        letter-spacing: 7.5px;
        color: var(--text-gray-color);
        position: relative;
        margin-left: 32px;
        display: inline;
    }
    .main_container .main_content p:first-child::before {
        position: absolute;
        display: block;
        background: url(../../images/main-dash.svg);
        content: "";
        height: 2px;
        width: 15px;
        top: 50%;
        left: -32px;
        transform: translateY(-50%);
    }
    .main_container .main_content h1 { 
        margin-top: 30px;
        font-size: 44px;
        font-weight: 800;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: var(--text-black-color);
    }
    .main_container .main_content h1 span { 
        color: var(--text-purple-color);
    }
    .main_container .main_content p { 
        margin-top: 40px;
        color: var(--text-black-color);
        font-size: 16px;
        line-height: 32px;
        font-family: 'Inter', sans-serif;
        word-wrap: break-word;
    }
    .main_container .main_content .main_social_media {
        margin-top: 45px;
        display: inline-block;
    }
    .main_container .main_content .main_social_media li {
        display: inline-block;
        position: relative;
        vertical-align: top;
    }
    .main_container .main_content .main_social_media li{
        margin-right: 32px;
    }
    .main_container .main_content .main_social_media li:last-child{
        margin-right: 0;
    }
    .main_container .main_content .main_social_media li a span {
        max-width: 100%;
        display: block;
        height: 24px;
    }
    .main_container .main_content .main_social_media li a .github-icon {
        content: url(../../icons/github-icon.svg);
    }
    .main_container .main_content .main_social_media li a .facebook-icon {
        content: url(../../icons/facebook-icon.svg);
    }
    .main_container .main_content .main_social_media li a .instagram-icon {
        content: url(../../icons/instagram-icon.svg);
    }
    .main_container .main_content .main_social_media li a figure {}
     .main_container .main_content .main_social_media li a figure img {
        max-width: 100%;
        display: block;
        height: 24px;
     }

     .main_img {
        position: relative;
        top: 45%;
        float: right;
        transform: translateY(-50%);
     }
     .main_img::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        background-color: var(--bg-purple-color);
        height: 400px;
        width: 311.93px;
        border-radius: 16px;
        transform: rotate(-10deg);
     }
     .main_img figure {
        position: relative;
        overflow: hidden;
     }
     .main_img figure::after {
        background: url(../../images/main-line.png);
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        top: -130px;
        right: -120px;
        height: 100%;
        width: 100%;

     }
     .main_container .main_img figure img {
        height: 400px;
        border-radius: 16px;
        max-width: 100%;
        display: block;
    }
/* portfolio */
#portfolio {
    background-color: var(--bg-white-2-color);
}

    .portfolio_container {
        padding-top: 104px;
        padding-bottom: 176px;
        text-align: center;
    }
    .portfolio_container p  {
        font-size: 12px;
        margin-left: 32px;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
        letter-spacing: 7.5px;
        color: var(--text-gray-color);
        position: relative;
        text-align: left;
    }
    .portfolio_container p::before {
        position: absolute;
        display: block;
        background: url(../../images/main-dash.svg);
        content: "";
        height: 2px;
        width: 15px;
        top: 50%;
        left: -32px;
        transform: translateY(-50%);
    }
    .portfolio_container h2 {
        font-size: 36px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 800;
        color: var(--text-black-color);
        margin-bottom: 100px;
        text-align: left;
    }
    .portfolio_container section {
        display: inline-block;
        vertical-align: top;
        border-radius: 8px;
        width: 360px;
        position: relative;
        outline: 2px solid var(--border-1-color);
        margin-top: 45px;

    }
    .portfolio_container section:not(:last-child) {
        margin-right: 56px;
    }
    .portfolio_container section figure {
        position: relative;
        border-bottom: 1px solid var(--border-1-color);
    }
    .portfolio_container section figure::before{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        display: block;
        background: var(--dark-bg-gradient-color);
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    .portfolio_container section figure img{
        display: block;
        max-width: 100%;
        width: 100%;
        height: 295px;
        object-fit: cover;
        object-position:top;
        background-color:var(--bg-gray-color);
        position: relative;
    }
    .portfolio_container section h3{
        padding: 25px 25px 0px;
        color: var(--text-black-color);
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    .portfolio_container section ul {
        text-align: left;
        display:inline-block;
        padding: 15px 25px 25px;
    }
    .portfolio_container section ul li:not(:last-child)  a {
        color: var(--text-gray-color);
        text-decoration: none;
        font-weight: 400;
        font-family: 'Inter',sans-serif;
        font-size: 12px;
        outline: 1px solid var(--border-1-color);
        padding: 4px 8px;
        border-radius: 4px;
    }
    .portfolio_container section ul li  {
        display: inline-block;
        vertical-align: middle;
    }
    .portfolio_container section ul li:not(:last-child) {
        padding-right: 16px;
        margin: 10px 0;
    }
    .portfolio_container section ul li .clip-link-icon{ 
        background: url(../../icons/clip-icon.svg);
        height: 24px;
        width: 24px;
        background-repeat: no-repeat;
        content: "";
        display: block;
    }